<body>
    <h1>
    <%= title %>
    </h1>
    <table border>
    <thead>
    <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <% utilisateurs.forEach((user)=> { %>
    <tr>
    <td>
    <%= user.Prenom %>
    </td>
    <td>
    <%= user.Nom %>
    </td>
    <td>
    <%= user.Email %>
    </td>
    </tr>
    <% }) %>